openapi: 3.2.0
info:
  title: Tito Admin Account API
  description: The Tito Admin API is a REST/JSON interface for secure programmatic access to Tito, an event registration and ticketing platform.
  version: '3.0'
  contact:
    name: Tito (Team Tito)
    url: https://ti.to
  license:
    name: Proprietary
    url: https://ti.to/terms
servers:
- url: https://api.tito.io/v3
  description: Tito Admin API (production)
security:
- titoToken: []
tags:
- name: Account
  description: Authentication check and account discovery.
paths:
  /hello:
    get:
      operationId: hello
      tags:
      - Account
      summary: Confirm authentication
      description: Confirms the API token is valid and lists the accounts it can access.
      responses:
        '200':
          description: Authentication confirmation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticated:
                    type: boolean
                  access_token:
                    type: string
                    description: The last four characters of the token used.
                  lookup_mode:
                    type: string
                    enum:
                    - live
                    - test
                  accounts:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        errors:
          type: array
          items:
            type: string
      additionalProperties: true
  securitySchemes:
    titoToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API token generated at https://id.tito.io/api-access-tokens, sent as `Authorization: Token token=YOUR-API-TOKEN`. Requests must also send `Accept: application/json`. Tokens carry a live or test mode.'
