openapi: 3.0.3
info:
  title: Tito Admin API
  description: >-
    The Tito Admin API is a REST/JSON interface for secure programmatic access to
    Tito, an event registration and ticketing platform. It is used to manage
    accounts, events, releases (ticket types), tickets, registrations, discount
    codes, activities, check-in lists, refunds, and webhook endpoints. Resources
    are addressed by their account_slug and event_slug.

    Authentication uses a secret API token generated at https://id.tito.io
    (api-access-tokens), passed in the Authorization header as
    `Token token=YOUR-API-TOKEN`, together with an `Accept: application/json`
    header. Tokens carry a live or test mode.

    NOTE ON FIDELITY: All paths, HTTP methods, path parameters, query filters,
    and the authentication scheme in this document are grounded in Tito's
    official Admin API v3.0 documentation (https://ti.to/docs/api/admin/3.0).
    Tito does not publish a machine-readable OpenAPI/JSON Schema definition, so
    the request and response BODY schemas here are modeled from the documented
    attribute tables and example payloads and are intentionally loosely typed
    (additionalProperties: true). Treat field-level schemas as a reasonable
    model, not an exhaustive contract.
  version: '3.0'
  contact:
    name: Tito (Team Tito)
    url: https://ti.to
  license:
    name: Proprietary
    url: https://ti.to/terms
servers:
  - url: https://api.tito.io/v3
    description: Tito Admin API (production)
security:
  - titoToken: []
tags:
  - name: Account
    description: Authentication check and account discovery.
  - name: Events
    description: Events that tickets are sold for.
  - name: Releases
    description: Ticket types (releases) for an event.
  - name: Tickets
    description: Individual tickets held by attendees.
  - name: Registrations
    description: Orders that group one or more tickets.
  - name: Discount Codes
    description: Percentage or fixed discounts applied at checkout.
  - name: Activities
    description: Capacity-bound sessions releases can attach to.
  - name: Check-in Lists
    description: Lists defining which tickets can be checked in.
  - name: Refunds
    description: Refund records against registrations.
  - name: Webhook Endpoints
    description: Endpoints Tito POSTs event notifications to.
paths:
  /hello:
    get:
      operationId: hello
      tags:
        - Account
      summary: Confirm authentication
      description: Confirms the API token is valid and lists the accounts it can access.
      responses:
        '200':
          description: Authentication confirmation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticated:
                    type: boolean
                  access_token:
                    type: string
                    description: The last four characters of the token used.
                  lookup_mode:
                    type: string
                    enum: [live, test]
                  accounts:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/events:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
    get:
      operationId: listEvents
      tags:
        - Events
      summary: Get all upcoming events
      description: Retrieves all upcoming events for the given account.
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEvent
      tags:
        - Events
      summary: Create an event
      description: Creates a new event belonging to the given account.
      requestBody:
        $ref: '#/components/requestBodies/EventBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/events/past:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
    get:
      operationId: listPastEvents
      tags:
        - Events
      summary: Get all past events
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/events/archived:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
    get:
      operationId: listArchivedEvents
      tags:
        - Events
      summary: Get all archived events
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: getEvent
      tags:
        - Events
      summary: Get an event
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEvent
      tags:
        - Events
      summary: Update an event
      requestBody:
        $ref: '#/components/requestBodies/EventBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteEvent
      tags:
        - Events
      summary: Delete an event
      responses:
        '204':
          description: Event deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/duplication:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    post:
      operationId: duplicateEvent
      tags:
        - Events
      summary: Duplicate an event
      description: Asynchronously duplicates an event. Poll with GET to check status.
      responses:
        '202':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: getEventDuplicationStatus
      tags:
        - Events
      summary: Get event duplication status
      description: Returns the latest status (processing or complete) of an event duplication.
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/releases:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listReleases
      tags:
        - Releases
      summary: Get all releases
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createRelease
      tags:
        - Releases
      summary: Create a release
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/releases/{release_slug}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ReleaseSlug'
    get:
      operationId: getRelease
      tags:
        - Releases
      summary: Get a release
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRelease
      tags:
        - Releases
      summary: Update a release
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRelease
      tags:
        - Releases
      summary: Delete a release
      responses:
        '204':
          description: Release deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/releases/{release_slug}/archival:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ReleaseSlug'
    post:
      operationId: archiveRelease
      tags:
        - Releases
      summary: Archive a release
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: unarchiveRelease
      tags:
        - Releases
      summary: Unarchive a release
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/releases/{release_slug}/duplication:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ReleaseSlug'
    post:
      operationId: duplicateRelease
      tags:
        - Releases
      summary: Duplicate a release
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/releases/{release_slug}/activation:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ReleaseSlug'
    patch:
      operationId: activateRelease
      tags:
        - Releases
      summary: Put a release on sale
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/releases/{release_slug}/deactivation:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ReleaseSlug'
    patch:
      operationId: deactivateRelease
      tags:
        - Releases
      summary: Pause the sale of a release
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/releases/{release_slug}/publication:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ReleaseSlug'
    post:
      operationId: publishRelease
      tags:
        - Releases
      summary: Make a release public
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: unpublishRelease
      tags:
        - Releases
      summary: Make a release secret
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/tickets:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listTickets
      tags:
        - Tickets
      summary: Get all tickets
      description: >-
        Lists tickets for an event. Supports filtering via search parameters -
        e.g. search[states][], search[types][], search[release_ids][],
        search[activity_ids][], search[created_at][gt], search[updated_at][gt],
        search[sort], search[direction] - and free-text search via q.
      parameters:
        - name: q
          in: query
          required: false
          description: Free-text search across ticket holders.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTicket
      tags:
        - Tickets
      summary: Create a ticket
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/tickets/{ticket_slug}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/TicketSlug'
    get:
      operationId: getTicket
      tags:
        - Tickets
      summary: Get a ticket
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTicket
      tags:
        - Tickets
      summary: Update a ticket
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/tickets/{ticket_slug}/reassignments:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/TicketSlug'
    post:
      operationId: reassignTicket
      tags:
        - Tickets
      summary: Reassign a ticket
      description: Reassigns a ticket to a different attendee.
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/tickets/{ticket_slug}/void:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/TicketSlug'
    post:
      operationId: voidTicket
      tags:
        - Tickets
      summary: Void a ticket
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/registrations:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listRegistrations
      tags:
        - Registrations
      summary: Get all registrations
      description: >-
        Lists registrations for an event. Supports search filters such as
        search[states][], search[created_at][gt], search[updated_at][gt],
        search[sort], search[direction], and free-text q.
      parameters:
        - name: q
          in: query
          required: false
          description: Free-text search across registrations.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createRegistration
      tags:
        - Registrations
      summary: Create a registration
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/registrations/{registration_slug}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/RegistrationSlug'
    get:
      operationId: getRegistration
      tags:
        - Registrations
      summary: Get a registration
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRegistration
      tags:
        - Registrations
      summary: Update a registration
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/registrations/{registration_slug}/confirmations:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/RegistrationSlug'
    post:
      operationId: markRegistrationPaid
      tags:
        - Registrations
      summary: Mark a registration as paid
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: markRegistrationUnpaid
      tags:
        - Registrations
      summary: Mark a registration as unpaid
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/discount_codes:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listDiscountCodes
      tags:
        - Discount Codes
      summary: Get all discount codes
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDiscountCode
      tags:
        - Discount Codes
      summary: Create a discount code
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/discount_codes/{discount_code_id}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/DiscountCodeId'
    get:
      operationId: getDiscountCode
      tags:
        - Discount Codes
      summary: Get a discount code
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateDiscountCode
      tags:
        - Discount Codes
      summary: Update a discount code
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDiscountCode
      tags:
        - Discount Codes
      summary: Delete a discount code
      responses:
        '204':
          description: Discount code deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/activities:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listActivities
      tags:
        - Activities
      summary: Get all activities
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createActivity
      tags:
        - Activities
      summary: Create an activity
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/activities/{activity_id}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ActivityId'
    get:
      operationId: getActivity
      tags:
        - Activities
      summary: Get an activity
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateActivity
      tags:
        - Activities
      summary: Update an activity
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteActivity
      tags:
        - Activities
      summary: Delete an activity
      responses:
        '204':
          description: Activity deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/activities/{activity_id}/duplication:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/ActivityId'
    post:
      operationId: duplicateActivity
      tags:
        - Activities
      summary: Duplicate an activity
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/checkin_lists:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listCheckinLists
      tags:
        - Check-in Lists
      summary: Get all check-in lists
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCheckinList
      tags:
        - Check-in Lists
      summary: Create a check-in list
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/checkin_lists/{checkin_list_slug}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/CheckinListSlug'
    get:
      operationId: getCheckinList
      tags:
        - Check-in Lists
      summary: Get a check-in list
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCheckinList
      tags:
        - Check-in Lists
      summary: Update a check-in list
      requestBody:
        $ref: '#/components/requestBodies/GenericBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCheckinList
      tags:
        - Check-in Lists
      summary: Delete a check-in list
      responses:
        '204':
          description: Check-in list deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/refunds:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listRefunds
      tags:
        - Refunds
      summary: Get all refunds
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /{account_slug}/{event_slug}/refunds/{refund_id}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/RefundId'
    get:
      operationId: getRefund
      tags:
        - Refunds
      summary: Get a refund
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /{account_slug}/{event_slug}/webhook_endpoints:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
    get:
      operationId: listWebhookEndpoints
      tags:
        - Webhook Endpoints
      summary: Get all webhook endpoints
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createWebhookEndpoint
      tags:
        - Webhook Endpoints
      summary: Create a webhook endpoint
      requestBody:
        $ref: '#/components/requestBodies/WebhookEndpointBody'
      responses:
        '201':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /{account_slug}/{event_slug}/webhook_endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/AccountSlug'
      - $ref: '#/components/parameters/EventSlug'
      - $ref: '#/components/parameters/WebhookEndpointId'
    get:
      operationId: getWebhookEndpoint
      tags:
        - Webhook Endpoints
      summary: Get a webhook endpoint
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWebhookEndpoint
      tags:
        - Webhook Endpoints
      summary: Update a webhook endpoint
      requestBody:
        $ref: '#/components/requestBodies/WebhookEndpointBody'
      responses:
        '200':
          $ref: '#/components/responses/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWebhookEndpoint
      tags:
        - Webhook Endpoints
      summary: Delete a webhook endpoint
      responses:
        '204':
          description: Webhook endpoint deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
webhooks:
  ticketEvent:
    post:
      operationId: ticketWebhook
      summary: Ticket lifecycle webhook
      description: >-
        Tito POSTs a JSON payload to your registered webhook endpoint when a
        ticket event occurs. Triggers include ticket.created, ticket.completed,
        ticket.reassigned, ticket.updated, ticket.unsnoozed, ticket.unvoided,
        and ticket.voided. This is outbound HTTP delivery, not a WebSocket.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Acknowledged by your endpoint.
  registrationEvent:
    post:
      operationId: registrationWebhook
      summary: Registration lifecycle webhook
      description: >-
        Tito POSTs a JSON payload when a registration event occurs. Triggers
        include registration.updated, registration.finished,
        registration.completed, and registration.cancelled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Acknowledged by your endpoint.
  checkinEvent:
    post:
      operationId: checkinWebhook
      summary: Check-in webhook
      description: Tito POSTs a payload when an attendee is checked in (checkin.created).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Acknowledged by your endpoint.
  interestedUserEvent:
    post:
      operationId: interestedUserWebhook
      summary: Interested-user webhook
      description: >-
        Tito POSTs a payload on interested_user.created,
        interested_user.updated, and interested_user.deleted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Acknowledged by your endpoint.
components:
  securitySchemes:
    titoToken:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        Secret API token generated at https://id.tito.io/api-access-tokens,
        sent as `Authorization: Token token=YOUR-API-TOKEN`. Requests must also
        send `Accept: application/json`. Tokens carry a live or test mode.
  parameters:
    AccountSlug:
      name: account_slug
      in: path
      required: true
      description: The slug attribute of an Account.
      schema:
        type: string
    EventSlug:
      name: event_slug
      in: path
      required: true
      description: The slug attribute of an Event.
      schema:
        type: string
    ReleaseSlug:
      name: release_slug
      in: path
      required: true
      description: The slug attribute of a Release.
      schema:
        type: string
    TicketSlug:
      name: ticket_slug
      in: path
      required: true
      description: The slug attribute of a Ticket.
      schema:
        type: string
    RegistrationSlug:
      name: registration_slug
      in: path
      required: true
      description: The slug attribute of a Registration.
      schema:
        type: string
    DiscountCodeId:
      name: discount_code_id
      in: path
      required: true
      description: The id of a Discount Code.
      schema:
        type: string
    ActivityId:
      name: activity_id
      in: path
      required: true
      description: The id of an Activity.
      schema:
        type: string
    CheckinListSlug:
      name: checkin_list_slug
      in: path
      required: true
      description: The slug of a Check-in List.
      schema:
        type: string
    RefundId:
      name: refund_id
      in: path
      required: true
      description: The id of a Refund.
      schema:
        type: string
    WebhookEndpointId:
      name: id
      in: path
      required: true
      description: The id of a Webhook Endpoint.
      schema:
        type: string
  requestBodies:
    GenericBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Generic'
    EventBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              event:
                type: object
                description: Event attributes (modeled; see documented attribute table).
                additionalProperties: true
    WebhookEndpointBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              webhook_endpoint:
                type: object
                description: >-
                  Webhook endpoint attributes (modeled). Typically includes a
                  target url and the set of triggers to subscribe to.
                properties:
                  url:
                    type: string
                    format: uri
                  included_triggers:
                    type: array
                    items:
                      type: string
                additionalProperties: true
  responses:
    Resource:
      description: A single resource. Body schema is modeled and loosely typed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Generic'
    Collection:
      description: >-
        A paginated collection. Pagination metadata is returned in a meta object
        (current_page, next_page, prev_page, total_pages, total_count, per_page,
        overall_total). Use page[number] and page[size] query parameters
        (default page size 100, maximum 1000).
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            additionalProperties: true
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Generic:
      type: object
      description: >-
        Loosely-typed object modeled from Tito's documented attribute tables and
        example payloads. Field-level structure is not exhaustively specified.
      additionalProperties: true
    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        next_page:
          type: integer
          nullable: true
        prev_page:
          type: integer
          nullable: true
        total_pages:
          type: integer
        total_count:
          type: integer
        per_page:
          type: integer
        overall_total:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
        errors:
          type: array
          items:
            type: string
      additionalProperties: true
